$xlarge: 1800px;
$large: 1300px;
$medium: 768px;
$small: 480px;

.StaysContainer {
  display: grid;
  gap: 3rem 2rem;
  width: 100%;
  grid-template-columns: minmax(0, 1fr);

  @media screen and (min-width: $medium) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media screen and (min-width: $large) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @media screen and (min-width: $xlarge) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
