$border: 1px solid var(--almostWhiteBorder);
$medium: 1200px;
$small: 924px;

.global-search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1800px;

  @media screen and (max-width: $small) {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.overlay {
  position: fixed;
  background-color: var(--searchModal);
  top: 0;
  left: 0;
  z-index: 10;
  transition: top 0.5s ease-in;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4em;
  visibility: hidden;
}

.overlay.show {
  visibility: visible;
}

.search-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 25rem;
  background-color: var(--almostWhite);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-bar-open {
  @extend .global-search-bar;
  max-height: 65px;
  box-shadow: 2px 2px 1px var(--almostWhiteBorder);
  border: #{$border};
  border-radius: 16px;
}

.item-bar {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.editable {
  justify-content: flex-start;
}

.item-bar :not(.editable) {
  display: flex;
  flex: .8;
  justify-content: center;
}

.item-bar-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 2em;
}

.item-bar-text p {
  color: var(--text);
}

.title {
  font-weight: 800;
  font-size: .8ch;
  line-height: 1ch;
  text-transform: uppercase;
  font-style: normal;
}

.choice {
  font-weight: 400;
  font-size: 1ch;
  line-height: .8ch;
  font-style: normal;
}

#search-icon {
  box-sizing: border-box;
}

#search-icon>button {
  width: 80%;
  max-width: 180px;
  background-color: #EB5757;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  box-sizing: border-box;
}


#search-icon>button>p {
  font-family: Arial, Helvetica, sans-serif, FontAwesome;
  font-style: normal;
  font-weight: 600;
  font-size: 1.1ch;
  line-height: 18px;
  color: #F2F2F2;
}

.search-bar-items {
  @extend .global-search-bar;
  margin-top: .5em;
}

.multiple-choice {
  @extend .choice;
  font-family: Arial, Helvetica, sans-serif, FontAwesome;
}