$border: 1px solid var(--almostWhiteBorder);
$medium: 1200px;
$small: 924px;

.overlay {
  position: fixed;
  background-color: var(--searchModal);
  top: 0;
  left: 0;
  z-index: 10;
  transition: top 0.5s ease-in;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4em;
  visibility: hidden;
}

.overlay.show {
  visibility: visible;
}

.search-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 25rem;
  background-color: var(--almostWhite);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-bar-open {
  border: #{$border};
  // max-height: 55px;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  box-shadow: 2px 2px 1px var(--almostWhiteBorder);

  @media screen and (max-width: $small) {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.item-bar {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.editable {
  justify-content: flex-start;
}

.item-bar :not(.editable) {
  justify-content: center;
}

.item-bar-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 2em;
}

.item-bar-text p {
  color: var(--text);
  font-style: normal;
}

.title {
  font-weight: 800;
  font-size: .8ch;
  line-height: 1ch;
  text-transform: uppercase;
}

.choice {
  font-weight: 400;
  font-size: 1ch;
  line-height: .8ch;
}

#random-item {
  flex: 2;
}