.itembarText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 2em;
}

.itembarText p {
  color: var(--text);
}

.multipleChoice {
  font-weight: 400;
  font-size: 1ch;
  line-height: .8ch;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif, FontAwesome;
}