.itembarText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 1em;
  height: 12rem;
}

.multipleChoice {
  font-weight: 400;
  font-size: 1ch;
  line-height: .8ch;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif, FontAwesome;
  padding-top: .5em;
  margin-top: .5em;
  padding-bottom: .5em;
  margin-bottom: .5em;
}