.StayContainer {
  content: "";
  display: flex;
  align-items: space-between;
  border: 1px solid red;
}

#image-container {
  flex: 3 1 0;
  width: 100%;
  border-radius: 25px;
}

.StayItem {
  flex: 1;
  justify-content: space-between;
  width: 100%;
  border: none;
  outline: none;
}
