.StayContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
}

#image-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 ratio */
  height: 0;
  overflow: hidden;
}

#image-container img {
  border-radius: 25px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.StayItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: none;
  outline: none;
  height: 2em;
}

#first-item {
  margin-top: 0.7em;
  height: 1.5em;
  margin-bottom: 0.4em;
}

#title-text {
  font-family: Arial, Helvetica, sans-serif, FontAwesome;
  font-style: normal;
  font-weight: 550;
  color: rgba(31, 41, 55, 1);
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#super-host {
  border: 2px solid rgba(31, 41, 55, 0.5);
  border-radius: 35px;
  outline: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.1em;

  span {
    color: rgba(31, 41, 55, 0.8);
    font-weight: 600;
    font-style: normal;
    font-family: sans-serif;
    font-size: 14px;
  }
}
