.processed {
  border: 1px solid var(--text);
  border-radius: 16px;
  box-shadow: (0px 1px 6px rgba(0, 0, 0, 0.1));
}

.itembarText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 2em;
}

.itembarText p {
  color: var(--text);
}

.title {
  font-weight: 800;
  font-size: .8ch;
  line-height: 1ch;
  text-transform: uppercase;
  font-style: normal;
}

.choice {
  font-weight: 400;
  font-size: 1ch;
  line-height: .8ch;
  font-style: normal;
}