$small: 924px;

.overlay {
  position: fixed;
  background-color: var(--almostWhite);
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  top: -50%;
  transition: all .5s ease-in-out;

  @media screen and (max-width: $small) {
    height: 100%;
  }
}

.overlay.show {
  visibility: visible;
  z-index: 200;
  opacity: 1;
  top: 0;
}

.searchContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 2em;
  margin-bottom: 2em;

  @media screen and (max-width: $small) {
    width: 100%;
    justify-content: flex-start;
  }
}

.modalContainer {
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--almostWhite);
  display: flex;
  opacity: 0;
  z-index: -1;
  top: -50%;
  transition: all .5s ease-in-out;

  @media screen and (max-width: $small) {
    height: 100%;
  }
}

.modalContainer.show {
  visibility: visible;
  z-index: 200;
  opacity: 1;
  top: 0;
}

.closeModal {
  margin-right: 4em;

  @media screen and (max-width: $small) {
    margin-right: 0.7em;
  }
}