$small: 924px;
$border: 1px solid var(--almostWhiteBorder);

.navBar {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: $small) {
    flex-direction: column;
  }
}

.searchBar {
  border: #{$border};
  height: 100%;
  max-height: 55px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(400px, 20vw, 30rem);
  box-shadow: 2px 2px 1px var(--almostWhiteBorder);

  @media screen and (max-width: $small) {
    width: 20rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.closedItem {
  text-align: center;
}

.closedItem p {
  font-weight: 400;
  font-size: 1.05ch;
}

#icon-container {
  justify-content: center;
  align-items: center;

  @media screen and (max-width: $small) {
    align-self: flex-start;
  }
}

#location-item {
  flex: 3;
  border-right: #{$border};
}

#location-item p {
  color: var(--text);
}

#guests-item {
  flex: 2;
  border-right: #{$border};
}

#guests-item p {
  color: var(--text-disabled);
}

#search-icon-item {
  flex: 1;
  font-size: smaller;
}

#search-icon-item i {
  color: var(--search-icon);
}

button {
  all: unset;
  cursor: pointer;
}