$border: 1px solid var(--almostWhiteBorder);
$medium: 1200px;
$small: 924px;

.global-search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1800px;

  @media screen and (max-width: $small) {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.App {
  text-align: center;
  background-color: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  height: 100%;
  min-width: 90%;
  max-width: 1248px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

header {
  min-width: 90%;
  max-width: 100%;
  display: flex;
  flex: 2 2 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

main {
  display: flex;
  flex: 10;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

footer {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.search-bar-open {
  @extend .global-search-bar;
  box-shadow: 2px 2px 1px var(--almostWhiteBorder);
  border: #{$border};
  border-radius: 16px;
}

#search-icon {
  box-sizing: border-box;
}

.item-bar {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.editable {
  justify-content: flex-start;
}

.item-bar :not(.editable) {
  display: flex;
  flex: .8;
  justify-content: center;
}

.search-edit {
  @extend .global-search-bar;
  margin-top: .5em;
}