.App {
  text-align: center;
  background-color: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  height: 100%;
  min-width: 90%;
  max-width: 1248px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

header {
  min-width: 90%;
  max-width: 100%;
  display: flex;
  flex: 2 2 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

main {
  display: flex;
  flex: 10;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

footer {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}