$border: 2px solid var(--almostWhiteBorder);
$medium: 1200px;
$small: 924px;

.global-search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1800px;

  @media screen and (max-width: $small) {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.App {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.5s ease-in-out;
}

.App.fixedBackground {
  background-color: var(--searchModal);
}

.MainApp {
  text-align: center;
  position: absolute;
  left: 5%;
  right: 5%;
  box-sizing: border-box;
  min-width: 90%;
  max-width: 1248px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
}

header {
  min-width: 90%;
  max-width: 100%;
  display: flex;
  flex: 2 1 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

main {
  display: flex;
  flex: 10;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

footer {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.search-bar-open {
  @extend .global-search-bar;
  box-shadow: 2px 2px 1px var(--almostWhiteBorder);
  border: #{$border};
  border-radius: 16px;

  @media screen and (max-width: $small) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#search-icon {
  box-sizing: border-box;

  @media screen and (max-width: $small) {
    display: none;
  }
}

#search-icon > button {
  width: 80%;
  max-width: 180px;
  background-color: #eb5757;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  box-sizing: border-box;
}

#search-icon > button > p {
  font-family: Arial, Helvetica, sans-serif, FontAwesome;
  font-style: normal;
  font-weight: 600;
  font-size: 1.1ch;
  line-height: 18px;
  color: #f2f2f2;
}

.item-bar {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media screen and (max-width: $small) {
    width: 100%;
  }
}

#search-icon.small-screen {
  display: none;

  @media screen and (max-width: $small) {
    display: flex;
    box-sizing: border-box;
    flex: 0.1;
    margin-top: 3rem;
  }
}

.hide-item {
  @media screen and (max-width: $small) {
    display: none;
  }
}

.editable {
  justify-content: flex-start;
}

.item-bar :not(.editable) {
  display: flex;
  flex: 0.8;
  justify-content: center;
}

.search-edit {
  @extend .global-search-bar;
  margin-top: 0.5em;
}
